.slider_container{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  background-color: #000;
}

.slider{
  width: 300vw;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  transition: left .6s;
  background-color: #000;
}

