@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.page1_container {
  width: 100vw;
  height: 100vh;
  transition: background 2s;
  position: relative;
  overflow: hidden;
}

.night{
  background:url('./night.jpg') center center/cover no-repeat;
}

.day{
  background:url('./day.jpg') center center/cover no-repeat;
}

.mobile_navigation {
  display: none;
}

.hill {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 100%;
  /* z-index: 100; */
  transition: filter 1s linear;
}

.color_white {
  color: #f9f9f9;
}

.hero {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -80%);
  font-family: 'Sansita Swashed', cursive;
  font-size: 150px;
  z-index: 50;
  bottom: 30%;
}

.st {
  animation: appear 1s forwards;
}

.nd {
  opacity: 0;
  transform: translateY(200%);
  animation: appear 0.7s forwards 0.5s;
}

.moon {
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 110;
  object-fit: contain;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: moonGlow 10s infinite;
  cursor: pointer;
  background: url('./moon.png')
    center center/cover no-repeat;
  transform: translateX(-50%) translateY(-50vh);
  transition: transform 2s,filter 2s,opacity 2s;
}

.sun {
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 110;
  width: 400px;
  height: 400px;
  animation: sunGlow 10s infinite;
  cursor: pointer;
  background: url('./sun.png')
    center center/cover no-repeat;
  transform: translateX(-50%) translateY(-50vh);
  transition: transform 2s,filter 2s,opacity 2s;
}

@keyframes fall {
  from {
    transform: translateX(-50%) translateY(-100%);
  }
  to {
    transform: translateX(-50%) translateY(0%);
  }
}

@keyframes moonGlow {
  0% {
    filter: brightness(100%);
  }

  50% {
    filter: brightness(150%);
  }

  100% {
    filter: brightness(100%);
  }
}

@keyframes sunGlow {
  0% {
    filter: brightness(100%);
  }

  50% {
    filter: brightness(150%);
  }

  100% {
    filter: brightness(100%);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(200%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1150px) {
  .hero {
    display: block;
    font-size: 100px;
    bottom: 20%;
    text-align: center;
  }

  .hill {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 300px;
    z-index: 100;
    object-fit: cover;
  }

  .sun {
    width: 180px;
    height: 180px;
  }

  .moon {
    width: 130px;
    height: 130px;
  }

  .btn {
    display: none !important;
  }

  .mobile_navigation {
    display: flex;
    position: absolute;
    bottom: 27%;
    left: 50%;
    z-index: 150;
    transform: translateX(-50%);
  }

  .about_me_mobile,
  .my_work_mobile {
    border: none;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    width: 130px;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    outline: none;
  }
  .about_me_mobile {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
  }
  .my_work_mobile {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (max-height: 750px) {
  .moon,
  .sun {
    width: 180px;
    height: 180px;
    top: 5%;
  }

  .moon {
    width: 130px;
    height: 130px;
  }

  .hero {
    bottom: 10%;
  }

  .mobile_navigation{
    bottom: 10%;
  }
}


@media (min-width: 1200px) {
  .hero {
    font-size: 100px;
    bottom: 35%;
  }
  .sun {
    width: 240px;
    height: 240px;
  }
}

@media (min-width: 1600px) {
  .hero {
    font-size: 150px;
    bottom: 30%;
  }
  .sun {
    width: 400px;
    height: 400px;
  }
}

.btn {
  border: none;
  align-self: center;
  display: block;
  font-size: 20px;
  background-color: #fff;
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.about_me_btn {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  animation: leftToRight 1s forwards;
}
.my_work_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: rightToLeft 1s forwards;
}

.btn:hover {
  background-color: #333;
  color: #fff;
}

@keyframes leftToRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(-50px);
  }
}

@keyframes rightToLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(50px);
  }
}

@media (max-width: 600px){
  .sun {
    width: 300px;
    height: 300px;
  }
}